footer {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(240, 191, 163, 0.925);
  padding: 20px; }
  footer .menu-compras {
    margin-right: 50px;
    font-size: 20px; }
    footer .menu-compras .fin li {
      list-style-type: none; }
    footer .menu-compras .fin a {
      text-decoration: none; }
  footer .seguinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

h1 {
  padding: 10px;
  text-align: center; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: #999; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }
  .float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff; }
  .float .my-float {
    margin-top: 16px; }

/* mobile */
@media only screen and (max-width: 600px) {
  body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif; }
  .header {
    background-color: rgba(240, 191, 163, 0.925); }
    .header .barra {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center; }
      .header .barra .logo {
        margin: 10px;
        height: 100px;
        width: 100px; }
    .header .busqueda {
      height: 20px;
      padding: 25px;
      border: 3px solid #f2f2f2;
      border-radius: 10px; }
    .header .sub {
      margin: 10px;
      display: flex;
      justify-content: space-between; }
      .header .sub .login {
        height: 30px;
        width: 30px; }
      .header .sub .carrito {
        width: 30px;
        height: 30px; }
  .topnav {
    display: none; }
  .nav-link {
    color: #f2f2f2; }
  .imagen-principal {
    width: 100%;
    height: 400px; }
  .principal {
    text-align: center;
    padding: 20px; }
  .img-carousel {
    height: 400px; }
  .menu-secundario {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; }
    .menu-secundario .centrar-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
    .menu-secundario .nolink {
      text-decoration: none; }
    .menu-secundario .item {
      padding: 20px;
      width: 300px;
      height: 370px;
      cursor: pointer; }
  .about {
    padding: 20px;
    width: 400px;
    height: 250px;
    background-color: whitesmoke;
    overflow-y: auto; }
  .centrar-contenido {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .remeras-musculosas {
    display: flex;
    flex-direction: row;
    width: 9; }
  .imagen-producto {
    padding: 20px;
    width: 300px; }
  .centrar-parrafo {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none; }
  .contact-form {
    padding: 10px;
    display: grid;
    grid-template-columns: 150px 300px;
    grid-template-rows: repeat(3, 1fr) 200px;
    width: 500px;
    gap: 10px; }
    .contact-form .send {
      padding: 10px;
      justify-self: center; }
  .log-form {
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 270px;
    grid-template-rows: 1fr 1fr;
    gap: 10px; }
  .centrar-producto {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .centrar-producto .img-mobile {
      height: 400px; }
  .descripcion {
    padding: 20px;
    width: 400px; }
  .detalle-producto {
    margin: 20px;
    text-align: center; }
  .contenedor-producto {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  .navbar-toggler .navbar-toggler-icon {
    background-color: #d2cfcf; } }

/* Desktop */
@media only screen and (min-width: 601px) {
  body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif; }
  .layout {
    display: grid;
    grid-template-rows: 2fr 30% 150px; }
    .layout .header {
      background-color: rgba(240, 191, 163, 0.925); }
      .layout .header .barra {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center; }
        .layout .header .barra .logo {
          margin: 10px;
          height: 100px;
          width: 100px; }
      .layout .header .busqueda {
        height: 20px;
        padding: 25px;
        width: 600px;
        border: 3px solid rgba(128, 128, 128, 0.216);
        border-radius: 10px; }
      .layout .header .sub {
        margin: 10px;
        display: flex;
        justify-content: space-between; }
        .layout .header .sub .login {
          height: 30px;
          width: 30px; }
        .layout .header .sub .carrito {
          width: 30px;
          height: 30px; }
    .layout .principal {
      padding: 20px; }
    .layout .menu-secundario {
      justify-content: space-evenly;
      display: flex; }
      .layout .menu-secundario .centrar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center; }
      .layout .menu-secundario .nolink {
        text-decoration: none; }
      .layout .menu-secundario .item {
        padding: 20px;
        width: 300px;
        height: 370px;
        opacity: 0.8;
        cursor: pointer; }
        .layout .menu-secundario .item:hover {
          opacity: 1; }
    .layout .about {
      width: 1000px;
      height: 800px;
      background-color: whitesmoke;
      overflow-y: auto; }
    .layout .centrar-contenido {
      margin: 50px;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .layout .remeras-musculosas {
      display: flex;
      flex-direction: row;
      width: 9; }
    .layout .remeras-musculosas {
      display: flex;
      flex-direction: row;
      width: 9; }
    .layout .imagen-producto {
      width: 300px; }
    .layout .centrar-parrafo {
      text-align: center; }
    .layout .contact-form {
      padding: 10px;
      display: grid;
      grid-template-columns: 200px 400px;
      grid-template-rows: repeat(3, 1fr) 200px;
      width: 600px;
      gap: 10px; }
    .layout .send {
      padding: 10px;
      justify-self: center; }
    .layout .log-form {
      padding: 10px;
      display: grid;
      grid-template-columns: 200px 270px;
      grid-template-rows: 1fr 1fr;
      gap: 10px; }
    .layout .centrar-producto {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .layout .centrar-producto .img-mobile {
        height: 1000px;
        width: 500; }
    .layout .descripcion {
      width: 500px; }
    .layout .detalle-producto {
      margin: 20px;
      text-align: center; }
  .layout-pages .header {
    background-color: rgba(240, 191, 163, 0.925); }
    .layout-pages .header .barra {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center; }
      .layout-pages .header .barra .logo {
        margin: 10px;
        height: 100px;
        width: 100px; }
    .layout-pages .header .busqueda {
      height: 20px;
      padding: 25px;
      width: 600px;
      border: 3px solid rgba(128, 128, 128, 0.216);
      border-radius: 10px; }
    .layout-pages .header .sub {
      margin: 10px;
      display: flex;
      justify-content: space-between; }
      .layout-pages .header .sub .login {
        height: 30px;
        width: 30px; }
      .layout-pages .header .sub .carrito {
        width: 30px;
        height: 30px; }
  .layout-pages .principal {
    padding: 20px; }
  .layout-pages .menu-secundario {
    justify-content: space-evenly;
    display: flex; }
    .layout-pages .menu-secundario .centrar-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center; }
    .layout-pages .menu-secundario .card-size:hover {
      transform: scale(1.1);
      transition: all 0.3s ease; }
    .layout-pages .menu-secundario .nolink {
      text-decoration: none; }
    .layout-pages .menu-secundario .item {
      padding: 20px;
      width: 400px;
      height: 350px;
      opacity: 0.8;
      cursor: pointer; }
      .layout-pages .menu-secundario .item:hover {
        opacity: 1; }
  .layout-pages .about {
    padding: 20px;
    width: 1000px;
    height: 800px;
    background-color: whitesmoke;
    overflow-y: auto; }
  .layout-pages .centrar-contenido {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .layout-pages .remeras-musculosas {
    display: flex;
    flex-direction: row;
    width: 9; }
  .layout-pages .remeras-musculosas {
    display: flex;
    flex-direction: row;
    width: 9; }
  .layout-pages .imagen-producto {
    width: 300px;
    height: 400px;
    opacity: 0.8; }
    .layout-pages .imagen-producto:hover {
      opacity: 1; }
  .layout-pages .centrar-parrafo {
    text-align: center; }
  .layout-pages .contact-form {
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows: repeat(3, 1fr) 200px;
    width: 600px;
    gap: 10px; }
  .layout-pages .send {
    padding: 10px;
    justify-self: center; }
  .layout-pages .log-form {
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 270px;
    grid-template-rows: 1fr 1fr;
    gap: 10px; }
  .layout-pages .centrar-producto {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .layout-pages .descripcion {
    padding: 20px;
    width: 500px; }
  .layout-pages .detalle-producto {
    margin: 20px;
    text-align: center; }
  .layout-pages .contenedor-producto {
    margin: 50px;
    display: flex;
    justify-content: space-around; }
  .card-size:hover {
    transform: scale(1.1);
    transition: all 0.3s ease; }
  .navbarmob {
    display: none; }
  .topnav {
    background-color: #212529;
    overflow: hidden; }
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px; }
      .topnav a:hover {
        background-color: #ddd;
        color: #212529; } }
